{% extends 'layouts/authenticated_layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1 class="p-4 font-bold text-xl">{{ title }}</h1>
<div class="px-4">
    <a href="/budgets/{{ budget.id }}">Cancel Delete</a>
</div>
<div class="p-4">
    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete this budget?</p>
        <p class="font-bold py-4">{{ budget.name }} : {{ budget.total_amount }}</p>
        <button type="submit" class="text-red-500 hover:text-red-400 hover:underline">
            Delete
        </button>
    </form>
</div>
{% endblock %}
