{% extends 'layouts/authenticated_layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="p-4 flex w-full justify-between items-center">
    <h1 class="font-bold text-xl">{{ title }}</h1>
        <a class="text-blue-500 hover:text-blue-600 hover:underline" href="/expenses/create">Add Expense</a>
</div>
<div class="p-4">
    <table class="table-auto w-full">
        <thead class="border-b font-bold">
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Budget</th>
        </tr>
        </thead>
        <tbody>
        {% for expense in expenses %}
        <tr class="text-center">
            <td>
                {{ expense.date }}
            </td>
            <td class="text-left">
                <a href="/expenses/{{ expense.id }}">{{ expense.name }}</a>
            </td>
            <td>
                {{ expense.amount }}
            </td>
            <td>
                {{ expense.category.name }}
            </td>
            <td>
                {{ expense.budget.name }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}